html {
  font-family: 'Open Sans', sans-serif;
}

nav {
  background:none;
  box-shadow: none;
  .brand-logo,
  ul a {
    color: color("grey", "darken-1");
    font-weight: 300;
    &:hover {
      color: color("grey", "darken-3");
      background:none;
    }
  }
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left:auto;
    transform:none;
  }
}

.block {
  padding-top:40px;
  padding-bottom:40px;
}

.tabs {
  .indicator {
    height:1px;
    background:color('grey', 'base');
  }
  .tab a {
    font-size:11px;
    font-weight: 700;
    color: color('grey', 'darken-1');
    &:hover {
      color: color('grey', 'darken-4');
    }
  }
}
.tab-content {
  background: color('grey', 'lighten-5');
  padding:20px;
}

.container-small {
  padding-left:120px;
  padding-right:120px;
   @media #{$medium-and-down} {
    padding-left:60px;
    padding-right:60px;
  }
}

.collapsible .btn-flat {
  margin-top:15px;
  font-weight: 600;
}
