.home-cover {
  background:url(home_cover.jpeg) no-repeat center center fixed;
  background-size: cover;
  padding:90px 0 180px;
  form {
    background:rgba(255,255,255,.8);
    padding:18px 10px 10px;
    border-radius:2px;
  }
  .btn {
    background:#93C4CB;
  }
  input[type=text]:focus:not([readonly]) {
    border-color:#93C4CB;
  }
}
