.collection.messages {
  border:none;
  .collection-item {
    margin-bottom:10px;
    background:color('grey', 'lighten-5');
    border-radius:2px;
    .title {
      line-height: 1.1em;
      color:color('blue-grey', 'darken-4');
      font-weight:700;
      font-size:12px;
    }
    p {
      font-weight:400;
    }
    small {
      float:right;
    }
  }
  .collection-item {
    &.message-type-system {
      p {
        margin: 0;
        font-style: italic;
        font-weight: 600;
        font-size:75%;
        color: color('grey', 'lighten-1');
      }
    }
    &.message-type-my {
      background:color('blue-grey', 'lighten-5');
      text-align: right;
      small {
        float:left;
      }
      &.avatar {
        padding: 10px 72px 10px 20px;
        .circle {
          right:15px;
          left:auto;
        }
      }
    }
  }
}
