.project-cover {
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #c2e59c , #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #c2e59c , #64b3f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align:center;
  padding:40px 0;
  transition: background 1s;
  h2 {
    margin:0;
    font-size:28px;
    font-weight:300;
  }
  p {
    margin-bottom:30px;
    font-size:12px;
    strong {
      font-weight:700;
    }
  }
  .chip {
    background:white;
    margin:0 5px;
    font-weight: 700;
    a {
      color:color('grey', 'darken-3');
    }
  }
  &.payment_requested {
    background: #B3FFAB; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #B3FFAB , #12FFF7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #B3FFAB , #12FFF7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  &.dispute {
    background: #ED4264; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ED4264 , #FFEDBC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ED4264 , #FFEDBC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
