.profile-cover {
  margin-bottom:60px;
  padding:40px 0;


background: #2BC0E4; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2BC0E4 , #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.account-cover {
  height:4px;
  margin-bottom:40px;
  background: #2BC0E4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #2BC0E4 , #EAECC6); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #2BC0E4 , #EAECC6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-header {
  padding: 30px 0 60px;
  .avatar {
    float:left;
    width:80px;
    height:80px;
    background-size: cover;
    border-radius: 50%;
    margin-top:-10px;
  }
  .inner {
    margin-left:110px;
  }
  h1 {
    margin:0;
    font-weight:300;
    font-size:28px;
  }
  p {
    margin:10px 0 0;
    strong {
      display:block;
      font-weight: 600;
    }
  }
}
