<template name="home">
  <section class="home-cover" >
    <div class="container">
    <form class="row" id="searchForm">
      <!-- <label style="font-size:30px">Location</label> -->
      <div class="col s10">
        <input style="font-size:20px" type="text" name="stuff" placeholder="Your Freelancer is waiting for You" />
      </div>
      <div class="col s2">
        <button type="submit" id="showMap" class="waves-effect waves-light btn-large">Search</button>
      </div>
    </form>
    </div>
  </section>
  <div class="container block">
    <div class="row">
      {{#each user in users}}
      <div class="col s4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{avatar user.username [280, 140]}}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{user.profile.first_name}} {{user.profile.last_name}}<i class="material-icons right">more_vert</i></span>
            <p><a href="{{pathFor data=user route='profile' }}">{{user.username}}</a></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">About<i class="material-icons right">close</i></span>
            <p>{{user.profile.about}}</p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  {{> footer}}
</template>

<template name="footer" >
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="grey-text">Escrowd</h5>
          <p class="grey-text">
            Escrowd is a crowd managed escrow service, that helps contractors get paid every time and clients get what they asked for.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="grey-text">Useful Links</h5>
          <ul>
            <li><a class="grey-text " href="https://en.wikipedia.org/wiki/Escrow">What is escrow</a></li>
            <li><a class="grey-text " href="http://www.zillow.com/home-buying-guide/what-is-escrow/">How Escrow Works</a></li>
            <li><a class="grey-text " href="https://twitter.com/search?q=escrow">Latest News</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container grey-text">
      <span class="right">© 2016 Escrowd</span>
      </div>
    </div>
  </footer>
</template>
