<template name="profile" >

  <div class="profile-cover">
    <div class="container">
      <div class="profile-header">
        <div class="avatar" style="background-image:url({{avatar profile.username [150, 150]}})" ></div>
        <div class="inner">
          <h1>{{profile.profile.first_name}} {{profile.profile.last_name}}</h1>
          {{#if profile.profile.about}}
          <p>
            <strong>About:</strong> {{profile.profile.about}}
          </p>
          {{/if}}
          {{#if profile.profile.location}}
          <p>
            <strong>Location:</strong> {{profile.profile.location}}
          </p>
          {{/if}}
          {{#if profile.profile.website}}
          <p>
            <strong>Website:</strong> <a href="{{profile.profile.website}}">{{profile.profile.website}}</a>
          </p>
          {{/if}}
          {{#if profile.profile.stack}}
          <p>
            <strong>Stack:</strong> {{profile.profile.stack}}
          </p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col s4 center-align">
        {{> chartCanvas id='stack' width="140" height="150"}}
        <h6 class="center-align" >Stack</h6>
        <p>
          Jack of all Trades! Perfect for Versatile projects. Whatever you throw at him it will get programmed...
        </p>
      </div>
      <div class="col s4 center-align">
        {{> chartCanvas id='friendliness' width="180" height="150"}}
        <h6 class="center-align" >Communication</h6>
        <p>
          Peacful as a dove. There's no place for drama in his business.
        </p>
      </div>
      <div class="col s4 center-align">
        {{> chartCanvas id='time' width="140" height="150"}}
        <h6 class="center-align" >Time Estimation</h6>
        <p>
          If he would be a clock, he would be swiss. You can count on time with this fella...
        </p>
      </div>
    </div>
  </div>

  <div class="center-align block">
    <a href="{{pathFor route='new-project' data=profile }}" class="btn" >Invite to a project</a>
  </div>

  {{> footer}}

</template>
