<template name="projects" >

  <div class="container">

    <ul class="collection with-header">
      <li class="collection-header"><h4>Your Projects</h4></li>
      {{#each project in projects}}
        <li class="collection-item">
          <div>
            <a href="{{pathFor data=project route='projects' }}">{{project.title}}</a>
            {{#if debugAll}}
            <a href="#!" class="secondary-content"><i class="material-icons delete-project" data-project-id="{{project._id}}">delete</i></a>
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>

  </div>

</template>

<template name="singleProject" >

  <div class="project-cover {{project.status}}">

    <div class="container">
       <h2>{{project.title}}</h2>
       <p>
         <strong>Status: </strong>{{prettyVar project.status}}
         {{#if project.price}}
         <strong>Price: </strong> ${{project.price}}
         {{/if}}
       </p>
       <p>
         {{#each owner in project.owners}}
          {{> userChip username=owner}}
        {{/each}}
        {{> userChip username=project.contractor }}
        {{#each mediator in project.mediators}}
          {{> userChip username=mediator}}
        {{/each}}
       </p>
    </div>

  </div>

  <div class="container container-small block">

    <ul class="collection messages">
      {{#each messages}}
      <li class="collection-item {{#if equals type 'system'}}message-type-system{{else}} avatar {{#if equals username currentUser.username }}message-type-my{{/if}}{{/if}}">
        {{#if equals type 'system'}}
        {{else}}
        <img src="{{avatar username [42, 42]}}" alt="" class="circle">
        {{/if}}
        <small>{{prettydate createdAt live=true}}</small>
        {{#if equals type 'system'}}
        {{else}}
        <span class="title">{{username}}</span>
        {{/if}}
        <p>
           {{content}}
        </p>
      </li>
      {{/each}}
    </ul>
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#message">Message</a></li>
          {{#if equals project.contractor currentUser.username}}
            <li class="tab col s3"><a href="#price">Price</a></li>
          {{/if}}
          <li class="tab col s3"><a href="#resolve">Change Status</a></li>
        </ul>
      </div>
      <div id="message" class="col s12" >
        <div class="tab-content">
          <form action="" id="newMessageForm">
            <div class="input-field">
              <textarea id="content" name="content" class="materialize-textarea"></textarea>
              <label for="content" class="active" >Message</label>
            </div>
            <div class="right-align">
              <button type="submit" class="btn waves-effect waves-teal">Send</button>
            </div>
          </form>
        </div>
      </div>
      {{#if equals project.contractor currentUser.username}}
      <div id="price" class="col s12">
        <div class="tab-content">
          <form action="" id="priceForm" >
            <div class="input-field">
              <input type="number" id="price" name="price" >
              <label for="price">
                Price
              </label>
            </div>
            <div class="right-align">
              <button class="btn" type="submit" >Set Price</button>
            </div>
          </form>
        </div>
      </div>
      {{/if}}
      <div id="resolve" class="col s12">
        <div class="tab-content">
          {{#if equals project.status 'success' }}
            <p class="center-align" >
              Great success! The project is finished!
            </p>
          {{/if}}
          <ul class="collapsible popout" data-collapsible="accordion">
            {{#each option in getResolveOptions project currentUser}}
            <li>
              <div class="collapsible-header"><i class="material-icons">{{option.icon}}</i>{{option.title}}</div>
              <div class="collapsible-body">
                <p>
                  {{option.text}}
                  <div class="center-align">
                    <a href="#!" class="modal-action modal-close waves-effect waves-{{option.confirm.color}} btn-flat action-status-change" data-status-change="{{option.status}}" >{{option.confirm.label}}</a>
                  </div>
                </p>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

  </div>

  {{> footer}}

</template>

<template name="userChip" >
  <div class="chip">
    <a href="{{pathFor route='profile' username=username }}">
      <img src="{{avatar username [32,32]}}" alt="Contact Person">
      {{username}}
    </a>
  </div>
</template>
