<template name="accountSettings" >

  <div class="account-cover"></div>

  <div class="container block">
    <div class="row">
      <form class="col s12" id="signUpForm" >
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" name="first_name" class="validate" value="{{user.profile.first_name}}" >
            <label for="first_name" class="{{#if user.profile.first_name}}active{{/if}}">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" name="last_name" class="validate" value="{{user.profile.last_name}}">
            <label for="last_name" class="{{#if user.profile.last_name}}active{{/if}}">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="website" type="text" name="website" class="validate" value="{{user.profile.website}}">
            <label for="website" class="{{#if user.profile.website}}active{{/if}}">Website</label>
          </div>
          <div class="input-field col s6">
            <input id="location" type="text" name="location" class="validate" value="{{user.profile.location}}">
            <label for="location" class="{{#if user.profile.location}}active{{/if}}">Location</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="about" name="about" class="materialize-textarea">{{user.profile.about}}</textarea>
            <label for="about" class="{{#if user.profile.about}}active{{/if}}" >About</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="stack" name="stack" class="materialize-textarea">{{user.profile.stack}}</textarea>
            <label for="stack" class="{{#if user.profile.stack}}active{{/if}}" >Stack</label>
          </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit" >Save</button>
      </form>
    </div>
  </div>

  {{> footer}}

</template>
