<template name="newProject" >
  <div class="account-cover"></div>
  <div class="container block">
    <h5 class="block">New Project with {{contractor}}</h5>
    <form id="newProjectForm" method="POST" >

      <div class="input-field">
        <input name="title" id="project_title" type="text" class="validate">
        <label for="project_title">Project Title</label>
      </div>

      <div class="input-field">
        <textarea id="content" name="content" class="materialize-textarea"></textarea>
        <label for="content">Message</label>
      </div>

      <button type="submit" class="btn waves-effect waves-teal">Create</button>

    </form>
  </div>

  {{> footer}}
</template>
