<body>

  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="/" class="brand-logo">Escrowd</a>
        <ul id="nav-mobile" class="right hide-on-sm-and-down">
          <li><a href="{{pathFor route='projects'}}">Your Projects</a></li>
          <li><a href="{{pathFor route='account-settings'}}">Account Settings</a></li>
          <li>{{> loginButtons}}</li>
        </ul>
      </div>
    </div>
  </nav>

</body>
